.home-section-1 {

}

.section-1-inner {
    position: relative;
    margin: 0 auto;
}

.section-1-intro {
    height: 250px;
    text-align: center;
    padding: 100px
}

.section-1-title {
    padding: 10px;
    position: fixed;
    color: white;
}

.section-1-date {
    padding: 10px;
    position: fixed;
    color: white;
    top: 1.5rem;
}