.home-section-5 {
    height: 600px;
    background: lightblue;
}

.section-5-inner {
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 5rem;
    float: left;
}

.shotchart-news-container {
    float: left;
    width: 20%;
    height: 300px;
    border: 1px solid black;
    background: white;
}

.shotchart-news-container:hover {
    cursor: pointer;
    background: lime;
}

.shot-chart-img {
    width: 80%;
    height: 70%;
}

.shotchart-news-h6 {
    font-size: .8rem;
}

#shotchart-news-p3 {
    font-size: .8rem;
}