.home-section-2 {
    height: 700px;
}

.section-2-inner {
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 2rem;
    width: 40%;
}

.headline-news-container {
    text-decoration: none;
    width: 500px;
    padding: 0px 20px;
    background: #EF4C40;
    color: white;
    border: 3px solid white;
}

.headline-news-container:hover {
    cursor: pointer;
    background: white;
    color: #EF4C40;
    border: 3px solid #EF4C40;
}